.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.btn-default.btn-popular
          = link_to "Popular", prototypes_path(sort: 'likes_count DESC'), remote: true
        %li.btn-default.btn-popular
          = link_to "Newest", prototypes_path(sort: 'created_at DESC'), remote: true
      = link_to "VIEW TAGS", "#", class: "btn btn-default col-lg-1"

.container.proto-list
  .row#index
    = render partial: 'prototypes/prototype', collection: @prototypes

.text-center
  = paginate @prototypes
